@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #66786E;
    font-family: "Montserrat", sans-serif;
    height: 3000px;
}
.head{
    background-color: #F2F2F2;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* Menu Navagation */
.navMenu{
    margin: 2px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 30px;
    width: 45%;
    display: inline-block;
}

.navMenu a{
    color: #66786E;
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover{
    text-decoration: underline solid #66786E;
    transition: all 0.4s ease-in-out;
}

.contact{
    float: right;
    color: #66786E;
    display: flex;
}
/*CONTENT*/
.content{
    margin: 0;
    padding: 0;
}
/*WELCOME*/

#img_me{
    width: 100%;
    height: auto;
    position: relative;
}

